<div
  class="
    bg-primary
    w-screen
    px-10
    py-10
    md:px-20
    md:py-8
    text-white
    grid
    gap-x-12
    grid-cols-1
    lg:grid-cols-2
    justify-center
    items-center
  "
>
  <div class="text-center mb-8 shadow-2xl">
    <img
      src="../../static/img/ideas-reality-614w.jpeg"
      alt="Laptops on desks in an office."
    />
  </div>
  <div class="text-center">
    <h2 class="font-extrabold text-2xl text-center mb-4 md:text-left">
      About Us
    </h2>
    <p class="text-left mb-3">
      The HyperValidation team has delivered training in innovation methodology
      and tools, customer discovery and validation, as well as specialized
      mentoring to teams that have won global competitions, been featured on
      Shark Tank, and raised hundreds of millions in venture capital.
    </p>
    <p class="text-left">
      Innovation is made truly accessible through a high energy, collaborative
      and unforgettable experience that builds relationships, cements learning
      and accelerates careers. Experience it for yourself!
    </p>
  </div>
</div>
